<div>
  <mat-toolbar class="toolbar">
    <a mat-stroked-button href="https://www.google.com/" target="_blank">About Me</a>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Skills</a>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Linkedin</a>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Contact</a>
  </mat-toolbar>
</div>

<div class="home">
  <mat-grid-list cols="1" rowHeight="33.25%"> 
    <mat-grid-tile>
      <div class="astronaut">
        <img src="assets/img/astronaut.png">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="hi">
        <h1>
          <a class="typewrite" data-period="2000"
            data-type='[ "Hi, Im Frank.", "Frontend Developer", "Creative", "Enjoy it" ]'>
            <span class="wrap"></span>
          </a>
        </h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="moon">
        <img src="assets/img/moon.png">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="aboutme">
  <mat-grid-list cols="1" rowHeight="33%"> 
    <mat-grid-tile>
      <div class="">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="">

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<router-outlet></router-outlet>