<div class="stars"></div>
<div class="twinkling"></div>
<div class="home">
  <mat-grid-list cols="1" rowHeight="25%">
    <mat-grid-tile >
      <div class="hi">
        <h1>
          <a class="typewrite" data-period="2000"
            data-type='[ "Hi, Im Frank.", "Frontend Developer", "Creative", "Enjoy it" ]'>
            <span class="wrap"></span>
          </a>
        </h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="astronaut">
        <img src="assets/img/astronaut.png">
      </div>
    </mat-grid-tile>
    <mat-grid-tile >
      <div class="buttons">
        <a mat-stroked-button href="#aboutmeId">About Me</a>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Skills</a>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Jobs</a>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Contact</a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="moon">
        <img src="assets/img/moon.png">
      </div>
      <div class="rocket">
        <img src="assets/img/rocket.png">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="aboutme"  id="aboutmeId">
  <div class="animate__animated animate__backInDown">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Franco</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        Hola! Mi nombre es Franco! Soy un joven desarrollador, me especializo en frontend, desde que naci supe que mi camino era por el area de la tecnologia,
        me interesa mucho el ambito de las finanzas y me gustaria combinarlo con lo que amo, que es programar.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Conoce mis Skills</button>
        <button mat-button>Mi experiencia como dev</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>