.body{
  overflow: none;
}

.toolbar .mat-toolbar{
  align-items: center;
  background: transparent;
}
.toolbar .icons a{
  color: white;
  opacity: 0;
  left: -20%;
  margin: 2%;
  border: none;
  animation: apear 5s forwards;
  font-family: 'Ubuntu', sans-serif;

}

.toolbar a:hover{
  transform: scale(1.2);
}

@keyframes apear{
  50% {
    left: 5%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.home .moon img{
  display: block;
  position: relative;
  opacity: 1;
  width: 400px;
  animation: transportMoon 4s forwards;
}

.home .astronaut img{
  opacity: 0;
  width: 200px;
  animation: apearAstronaut 3s forwards, floatingAstronaut 2s ease alternate-reverse infinite;
 
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
  transform: rotate(360deg);
  }
}

@keyframes transportMoon{
  0%
  {
    transform: translateY(200px);
  }
  100%
  {
    transform: translateY(100px);
  }
}


@keyframes apearAstronaut{
  to{
    opacity: 1;
  }
}

@keyframes floatingAstronaut{
  0%
  {
    transform: translateY(-10px);
  }
  100%
  {
    transform: translateY(10px);
  }
}

.home{  
    height: 100%;
    background-size: cover;
    background-image: url(/assets/img/space.png);
    background-color: black;
    color: white;
    text-shadow: 1px 1px grey;
    animation: spaceMove 15s ease infinite;
}

@keyframes spaceMove{
  50%{
    background-position-y: 10%;
  }
  100%{
    background-size: -10%;
  }
}


.home h1 a{
    font-size: 150%;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0;
    animation: typewriteropacity 5s forwards;
}

.aboutme{
  justify-content: center;
  background-color: #000058;
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.mat-stepper-horizontal {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-top: 16px;
}


@keyframes typewriteropacity{
  to{
    opacity: 1;
  }
}

.aboutme{
  position: relative;
    height: 100%;
    background-color: pink;
    color: white;
}

.hobbies{
    height: 100%;
    background-color:violet;
    color: white;
}

.mat-step-header .mat-step-label.mat-step-label{
  color:white!important;

}


